.text {
  color: #c3c4c5;
  font-size: 12px;
  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.primary {
    color: $--color-primary;
  }
  &.success {
    color: $--color-success;
  }
  &.warning {
    color: $--color-warning;
  }
  &.danger {
    color: $--color-danger;
  }
  &.common {
    color: #606266;
  }
}

.fz24 {
  font-size: 24px;
}

.fz22 {
  font-size: 22px;
}

.fz20 {
  font-size: 20px;
}

.fz18 {
  font-size: 18px;
}

.fz16 {
  font-size: 16px;
}

.fz15 {
  font-size: 15px;
}

.fz14 {
  font-size: 14px;
}

.fz13 {
  font-size: 13px;
}

.fz12 {
  font-size: 12px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}
