.comment-todo-list-container {
  width: 100%;

  .comment-todo-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-bottom: 8px;

    .todo-list-title {
      font-weight: 700;
      font-size: 18px;
      padding-right: 8px;
    }

    .btns {
      min-width: 190px;
      text-align: right;
    }
  }

  .comment-rich-text-wrapper {
    padding: 8px 16px;
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    .comment-rich-text-title {
      font-weight: 700;
      padding: 8px 0;
    }
  }
  .recover-btn {
    margin-top: 8px;
  }
}
.el-backtop {
  right: 16px !important;
}

.page-wrapper {
  text-align: center;
  padding: 16px 0;
  border: 1px solid #e5e5e5;
  border-top: none;
  border-bottom: none;
  background-color: #f4f4f4;
}
