$--public-padding: 16px;
.home-page {
  min-height: 100vh;
  background-color: #c2d5e3;
  overflow: hidden;

  .container {
    width: 92%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 16px;
    .header-wrapper {
      width: 92%;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      background-color: #fff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
      border-radius: 0 0 4px 4px;
      background-image: url('../../assets/images/sidebarBg-little.png');
      background-size: cover;
      color: #fff;
      z-index: 100;

      .title {
        padding-left: $--public-padding;
        font-size: 20px;
        font-weight: 700;
      }

      .btns {
        padding-right: $--public-padding;

        .login-btn {
          color: #ffffffb5;
          font-size: 12px;
          transition: 0.3s;
          &:hover {
            color: #fff;
          }
        }
      }
    }

    .decoration {
      width: calc(100% - #{$--public-padding});
      height: 20px;
      background-color: rgba(#524e4e, 0.65);
      margin: 0 auto;
    }
  }
}
